#########WLAN ueber Nacht ausschalten #########
#start WLAN 1 and 2 each day at 05:10 am montag bis freitag
10 05 * * 1-5  uci set wireless.@wifi-device[0].disabled=0; uci set wireless.@wifi-device[0].txpower=10; uci set wireless.@wifi-device[1].disabled=0; uci set wireless.@wifi-device[1].txpower=10; uci commit wireless; wifi
# start WLAN 1 and 2 each day at 08:00 am wochenende
00 08 * * 6,0 uci set wireless.@wifi-device[0].disabled=0; uci set wireless.@wifi-device[0].txpower=10; uci set wireless.@wifi-device[1].disabled=0; uci set wireless.@wifi-device[1].txpower=10; uci commit wireless; wifi
# stop WLAN 1 and 2 each day at 02:30 wochenende
30 02 * * 6,0 uci set wireless.@wifi-device[0].disabled=1; uci set wireless.@wifi-device[1].disabled=1; uci commit wireless; wifi
# stop WLAN 1 and 2 each day at 22:30 pm montag bis freitag
30 22 * * 1-4 uci set wireless.@wifi-device[0].disabled=1; uci set wireless.@wifi-device[1].disabled=1; uci commit wireless; wifi
# stop WLAN 1 and 2 each sunday
30 22 * * 0 uci set wireless.@wifi-device[0].disabled=1; uci set wireless.@wifi-device[1].disabled=1; uci commit wireless; wifi

#Openvpn Pruefen
#*/2 * * * 0-6 /etc/openvpn/check_online.sh
#Einmal pro Stunde aktuelle WAN IP loggen
05 * * * 0-6 /usr/scripts/wan_ip_log.sh  
#Logs loeschen
00 04 * * 1 rm /etc/openvpn/log_offline.log
01 04 * * 1 rm /usr/scripts/iplog.txt

# Reboot at 4:00am every day
# Note: To avoid infinite reboot loop, wait 70 seconds
# and touch a file in /etc so clock will be set
# properly to 4:01 on reboot before cron starts.
00 4 * * * sleep 70 && touch /etc/banner && reboot
30 4 * * * /etc/init.d/adblock restart && /etc/init.d/openvpn restart

#? ? ? ? ?
#? ? ? ? ?
#? ? ? ? ?---- Wochentag (0-6, Sonntag ist 0, geht bonkers Sonntag 7 ist lol)
#? ? ? ??----- Monat (1-12)
#? ? ??------- Tag (1-31)
#? ?---------- Stunde (0-23)
#?------------ Minute (0-59)

